# build files
**/node_modules
**/dist
**/build

# private
**/*.env
**/*.local

# unwanted
**/.DS_Store
**/*.ignore
**/*.log
/.git-*
.yarn-integrity
.yarn-error
.yalc

# editor-specific files and directories
**/.vscode

# sanctioned directory for anything that doesn't belong in git repo
**/scrap

# ignore package-manager locks
**/*.lock
**/package-lock.json
